FLASK_APP=backend.app
FLASK_ENV=development
SMARTBACKUP_SECRET=change-me
SMARTBACKUP_JWT_SECRET=jwt-secret
SMARTBACKUP_DB_URI=mysql+pymysql://root:password@localhost:3306/smartbackup
SMARTBACKUP_STORAGE=../storage
SMARTBACKUP_AES_KEY=32characterslongpassphrase!!!!

